.header .prompt,.nav .logcontainer{box-sizing:border-box; padding-left: 9px; width: 966px; margin:0 auto;}
.nav .website{right:0;}
.lbttext .sitecontainer{box-sizing:border-box; width: 966px; height:295px; margin:0 auto;}
.lbttext .sitecontainer div{float:left; width:271px; height:200px;}
.sitecontainer .site2{margin-left: 72px;}
.sitecontainer .site3{margin-left: 76px;} 
.container2 .content{width:982px;}
.content .tabcontainer{width:747px;}
.footer .copyright{width:975px;}